@page
@model EmpleadosApp.Pages.Empleados.BajaModel
@{
}

<br />
<h2>Listado de empleados dados de baja</h2>

<table class="table">
    <thead>
        <tr>
            <th>CUI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Sueldo</th>
            <th>Fecha Ingreso</th>
            <th>Fecha Baja</th>
            <th>Puesto</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.empleados)
        {
            <tr>
                <td>@e.CUI</td>
                <td>@e.Nombre</td>
                <td>@e.Apellido</td>
                <td>Q.@e.Sueldo</td>
                <td>@e.FechaIngreso</td>
                <td>@e.FechaBaja</td>
                <td>@e.Puesto.Nombre</td>
                <td>@e.Departamento.Nombre</td>
            </tr>
        }
    </tbody>
</table>